<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth Tester</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Practicing some OAuth</h1>
        <h2>Homepage</h2>
    </header>
</body>
</html>